@model Pedido

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Cadastrar</title>

</head>
<body class="container" style="padding-top:30px">
    
    <div class="text-center">
        <h2>Cadastrar Pedido</h2><br/>
    </div>


    <form asp-action="Cadastrar" asp-controller="Pedido" class="col-6">

        <div class="form-group">
            <label asp-for="Produto">Produto: </label>
            <input type="text" asp-for="Produto" required placeholder="Informe o produto" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Quantidade">Quantidade: </label>
            <input type="number" asp-for="Quantidade" placeholder="Informe a quantidade" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Valor">Valor: </label>
            <input type="text" asp-for="Valor" placeholder="Informe o valor em R$" required class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Data">Data: </label>
            <input type="datetime" asp-for="Data" placeholder="dd/mm/aaaa 00:00:00" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Fornecedor">Fornecedor: </label>
            <input type="text" asp-for="Fornecedor" placeholder="Informe o fornecedor" class="form-control" />
        </div>

        <input class="btn btn-primary" type="submit" value="Cadastrar">
        <input class="btn btn-primary" type="reset" value="Limpar">
        <a class="btn btn-primary" href="Index" role="button">Voltar</a>

    </form>

</body>
</html>
